[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/haproxy
RuntimeDirectory=haproxy
ExecStart=/usr/sbin/haproxy -f /etc/haproxy/haproxy.cfg -p /run/haproxy.pid $OPTIONS
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Type=forking
LimitNOFILE={{ haproxy_max_conn | int * 2 + 40 }}
[Install]
WantedBy=multi-user.target
